*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0f172a;
color:white;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:#020617;

position:sticky;
top:0;

}

.logo{

color:#a855f7;
font-size:24px;

}

#search{

padding:8px;

border-radius:6px;

border:none;

width:200px;

}

.hero{

padding:30px;

}

.anime-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(180px,1fr));

gap:20px;

margin-top:20px;

}

.card{

background:#1e293b;

border-radius:10px;

overflow:hidden;

cursor:pointer;

transition:0.3s;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100%;

height:260px;

object-fit:cover;

}

.card-title{

padding:10px;

font-size:14px;

}

.anime-container{

display:flex;

gap:20px;

padding:30px;

}

.anime-container img{

width:250px;

border-radius:10px;

}

.anime-info{

max-width:600px;

}

.episodes{

display:flex;

flex-wrap:wrap;

gap:10px;

padding:20px;

}

.episodes button{

padding:10px 15px;

background:#7c3aed;

border:none;

border-radius:6px;

cursor:pointer;

color:white;

}

.player-container{

padding:40px;

}

.servers button{

margin:10px;

padding:10px 20px;

background:#9333ea;

border:none;

border-radius:5px;

cursor:pointer;

}

.loader{

text-align:center;

padding:40px;

display:none;

}

@media(max-width:700px){

.anime-container{

flex-direction:column;

align-items:center;

}

}
